<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<header th:insert="blocks/header :: head"></header>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="album">
    <div class="container mt-4">
        <h3>Panel administratora</h3>
        <div class="row mt-4">
            <div class="col-3 text-center align-middle">
                <div class="card mb-4 shadow-sm adm-card">
                    <h5>Rejestracja użytkownika</h5>
                </div>
            </div>
            <div class="col-3 text-center align-middle">
                <div class="card mb-4 shadow-sm adm-card">
                    <h5>Rejestracja użytkownika</h5>
                </div>
            </div>
            <div class="col-3 text-center align-middle">
                <div class="card mb-4 shadow-sm adm-card">
                    <h5>Rejestracja użytkownika</h5>
                </div>
            </div>
            <div class="col-3 text-center ">
                <div class="d-flex align-items-center card mb-4 shadow-sm adm-card">
                    <h5>Rejestracja użytkownika</h5>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>