<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${tmp}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Zaloguj się</h1>
    <form action="" method="GET">
        <input type="text" name="login" placeholder="Wprowadź login" class="form-control" maxlength="10"><br>
        <input type="password" name="pass" placeholder="Wprowadź hasło" class="form-control"><br>
        <a type="submit" class="btn btn-success" href="/admin-panel">Zaloguj</a>
    </form>

</div>

</body>
</html>