<head th:fragment="head" xmlns:th="http://www.thymeleaf.org">
    <title th:text="${tmp}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<div class="menu-top" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <div class="menu-bg fixed-top d-flex flex-column flex-md-row align-items-center px-4">
        <div class="my-0 mr-md-auto font-weight-normal">
            <a href="/">
                <img th:src="@{/img/logo.png}" class="logo" alt="Logo">
            </a>
        </div>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 link" href="/">Główna</a>
            <a class="p-2 link" href="/blog">Usługi</a>
            <a class="p-2 link" href="">Portfolio</a>
            <a class="p-2 link" href="/blog">Blog</a>
            <a class="p-2 link" href="/about">O nas</a>
            <a class="p-2 link" href="">Kontakt</a>
            <a class="p-2 link" href="/blog/add">Добавить статью</a>
        </nav>
        <a class="btn btn-outline-primary" href="/signin">Zaloguj się</a>
    </div>
</div>